include popup

+popup('buy', '10 фатальных ошибок в макияже', 'Оставьте заявку прямо сейчас и узнайте\nкак избежать 10 основных ошибок при макияже')
  form.form
    .form__form
      .input
        .input__label ЭЛ. ПОЧТА #[span.input__required *]
        input.input__input(type='email' placeholder='example@mail.ru')
      .input
        .input__label ТЕЛЕФОН #[span.input__required *]
        input.input__input(type='tel' placeholder='+7 (___) ___-__-__')
      .form__button: button.btn.btn--block Отправить заявку
    .form__sub
      | Нажимая на кнопку, вы принимаете #[a(href='#') Положение]#[br]
      | и даете #[a(href='#') Согласие] на обработку персональных данных.
