#learn.learn
   .c
    .title.learn__title Как проходит обучение
    .subtitle.learn__subtitle
      |Онлайн школа BeLab позволяет обучиться макияжу с помощью видео уроков, дополнительных материалов,#[br]
      |домашнего задания, поддержке преподавателей и закрытому сообществу студентов курса.
    .learn__items
      .learn__item
        img.learn__image(src='modules/learn/1.png')
        .learn__header Доступ 24/7
        .learn__text
          |Вы имеете доступ к курсу в любое удобное для вас время #[span.highlight с любого устройства.]#[br]#[br]
          |Вам не нужно подстраиваться под кого-либо.
      .learn__item
        img.learn__image(src='modules/learn/2.png')
        .learn__header Рабочая тетрадь
        .learn__text Тетрадь #[span.highlight с обучающими материалами] позволит вам лучше усваивать информацию и создавать невероятные образы.
      .learn__item
        img.learn__image(src='modules/learn/3.png')
        .learn__header Домашние задания
        .learn__text После каждого занятия вы получаете домашние задания, которые затем #[span.highlight проверяются] и вы получаете обратную связь.
      .learn__item
        img.learn__image(src='modules/learn/4.png')
        .learn__header Закрытое сообщество
        .learn__text Вы получаете доступ к закрытому чату в WhatsApp, где можете общаться #[span.highlight с другими участниками] и задавать вопросы.
    .learn__button: button.btn Получить консультацию по обучению