.slide#top
  .w
    .slide__content
      h1.slide__title Научитесь делать макияж мечты#[br]не выходя из дома.
      h2.slide__subtitle В любом городе. В любое время.
      h3.slide__text
        |Базовый курс макияжа онлайн с индивидуальной поддержкой преподавателя #[span.highlight от профессионала MAC Cosmetics и INGLOT]
      .slide__info
        a.btn(href='#programs') Участвовать в курсе
        .slide__partner.slide__partner--1
        .slide__partner.slide__partner--2