#programs.programs.convex
  .c
    .title.programs__title Начните обучаться прямо сейчас
    .programs__items
      .programs__item
        .programs__subheader ПАКЕТ
        .programs__header Стандарт
        .programs__bullets
          .programs__bullet Занятие 1 "Идеальная косметичка"
          .programs__bullet Занятие 2 "Анализ типов кожи. Дневной макияж | НЮД"
          .programs__bullet Занятие 3 "Вечерний макияж"
          .programs__bullet Занятие 4 "Голливудский образ"
          .programs__bullet Занятие 5 "Лифтинг-макияж"
          .programs__bullet Рабочая тетрадь
          .programs__bullet Возможность просмотра занятий в любое удобное время
        .programs__price 2 500 ₽
        .programs__oldprice
          span.highlight Экономия 4 500 ₽
          br
          | Старая цена 7 000 ₽
        .programs__button: button.btn(data-title='Стандарт') Купить

      .programs__item
        .programs__subheader ПАКЕТ
        .programs__header Премиум
        .programs__bullets
          .programs__bullet Занятие 1 "Идеальная косметичка"
          .programs__bullet Занятие 2 "Анализ типов кожи. Дневной макияж | НЮД"
          .programs__bullet Занятие 3 "Вечерний макияж"
          .programs__bullet Занятие 4 "Голливудский образ"
          .programs__bullet Занятие 5 "Лифтинг-макияж"
          .programs__bullet Рабочая тетрадь
          .programs__bullet Возможность просмотра занятий в любое удобное время
          .programs__bullet Онлайн обучение с преподавателем до результата. Обратная связь по каждому занятию
          .programs__bullet Запись мастер класса с Ксенией Сысоевой "9 основных ошибок в макияже"
          .programs__bullet Доступ в закрытый чат в WhatsApp по обсуждению и помощи во время обучения.
          .programs__bullet Именной сертификат об окончания обучения
        .programs__price 7 000 ₽
        .programs__oldprice
          span.highlight Экономия 8 000 ₽
          br
          | Старая цена 15 000 ₽
        .programs__button: button.btn(data-title='Премиум') Купить

      .programs__item
        .programs__subheader ПАКЕТ
        .programs__header Вип
        .programs__bullets
          .programs__bullet Занятие 1 "Идеальная косметичка"
          .programs__bullet Занятие 2 "Анализ типов кожи. Дневной макияж | НЮД"
          .programs__bullet Занятие 3 "Вечерний макияж"
          .programs__bullet Занятие 4 "Голливудский образ"
          .programs__bullet Занятие 5 "Лифтинг-макияж"
          .programs__bullet Рабочая тетрадь
          .programs__bullet Возможность просмотра занятий в любое удобное время
          .programs__bullet Онлайн обучение с преподавателем до результата. Обратная связь по каждому занятию
          .programs__bullet Запись мастер класса с Ксенией Сысоевой "9 основных ошибок в макияже"
          .programs__bullet Доступ в закрытый чат в WhatsApp по обсуждению и помощи во время обучения.
          .programs__bullet Именной сертификат об окончания обучения
          .programs__bullet Личная 2-х часовая консультация по skype от Ксении Сысоевой
          .programs__bullet Бьюти шопинг по подбору косметики в г.Москва
        .programs__oldprice
          span.highlight Только для г. Москва
        .programs__price 80 000 ₽
          .programs__oldprice
            span.highlight Экономия 30 000 ₽
            br
            | Старая цена 100 000 ₽
        .programs__button: button.btn(data-title='Вип') Купить

