#programs.programs.convex
  .c
    .title.programs__title Начните обучаться прямо сейчас
    .programs__items
      .programs__item
        .programs__subheader ПАКЕТ
        .programs__header Урок
        .programs__bullets
          .programs__bullet Одно любое занятие из курса
          .programs__bullet Домашние задания
          .programs__bullet Доступ в закрытый чат в WhatsApp по обсуждению и помощи во время обучения
        .programs__price 1 999 ₽
        .programs__oldprice
          span.highlight Экономия 1 000 ₽
          br
          | Старая цена 3 000 ₽
        .programs__button: button.btn Купить

      .programs__item
        .programs__subheader ПАКЕТ
        .programs__header Стандарт
        .programs__bullets
          .programs__bullet Занятие 1 "Идеальная косметичка"
          .programs__bullet Занятие 2 "Анализ типов кожи. Дневной макияж | НЮД"
          .programs__bullet Занятие 3 "Вечерний макияж"
          .programs__bullet Занятие 4 "Голливудский образ"
          .programs__bullet Занятие 5 "Лифтинг-макияж"
          .programs__bullet Запись мастер класса с Ксенией Сысоевой "10 основных ошибок в макияже"
          .programs__bullet Доступ в закрытый чат в WhatsApp по обсуждению и помощи во время обучения.
          .programs__bullet Именной сертификат об окончания обучения
        .programs__price 4 999 ₽
        .programs__oldprice
          span.highlight Экономия 4 000 ₽
          br
          | Старая цена 9 000 ₽
        .programs__button: button.btn Купить

      .programs__item
        .programs__subheader ПАКЕТ
        .programs__header Премиум
        .programs__bullets
          .programs__bullet Занятие 1 "Идеальная косметичка"
          .programs__bullet Занятие 2 "Анализ типов кожи. Дневной макияж | НЮД"
          .programs__bullet Занятие 3 "Вечерний макияж"
          .programs__bullet Занятие 4 "Голливудский образ"
          .programs__bullet Занятие 5 "Лифтинг-макияж"
          .programs__bullet Запись мастер класса с Ксенией Сысоевой "10 основных ошибок в макияже"
          .programs__bullet Доступ в закрытый чат в WhatsApp по обсуждению и помощи во время обучения.
          .programs__bullet Именной сертификат об окончания обучения
          .programs__bullet Запись мастер класса "Мобильная фотография"
          .programs__bullet Личная 2-х часовая консультация по Skype от Ксении Сысоевой
        .programs__price 14 999 ₽
        .programs__oldprice
          span.highlight Экономия 5 000 ₽
          br
          | Старая цена 20 000 ₽
        .programs__button: button.btn Купить

      .programs__item
        .programs__subheader ПАКЕТ
        .programs__header Вип
        .programs__bullets
          .programs__bullet Занятие 1 "Идеальная косметичка"
          .programs__bullet Занятие 2 "Анализ типов кожи. Дневной макияж | НЮД"
          .programs__bullet Занятие 3 "Вечерний макияж"
          .programs__bullet Занятие 4 "Голливудский образ"
          .programs__bullet Занятие 5 "Лифтинг-макияж"
          .programs__bullet Запись мастер класса с Ксенией Сысоевой "10 основных ошибок в макияже"
          .programs__bullet Доступ в закрытый чат в WhatsApp по обсуждению и помощи во время обучения.
          .programs__bullet Именной сертификат об окончания обучения
          .programs__bullet Запись мастер класса "Мобильная фотография"
          .programs__bullet Личная 2-х часовая консультация по Skype от Ксении Сысоевой
          .programs__bullet Личный 2-х часовой мастер класс от Ксении Сысоевой
          .programs__bullet Бьюти шопинг по подбору косметики
        .programs__oldprice
          span.highlight Только для г. Москва
        .programs__price 100 000 ₽
        .programs__button: button.btn Купить

