mixin form()
  form.form
    .form__form
      .input
        .input__label ЭЛ. ПОЧТА #[span.input__required *]
        input.input__input(type='email' placeholder='example@mail.ru')
      .input
        .input__label ТЕЛЕФОн #[span.input__required *]
        input.input__input(type='tel' placeholder='+7 (___) ___-__-__')
      .form__button: button.btn.btn--block Задать вопрос
    .form__sub
      | Нажимая на кнопку, вы принимаете #[a(href='#') Положение]#[br]
      | и даете #[a(href='#') Согласие] на обработку персональных данных.
