.form
  text-align: center

  &__subtitle
    font-size: 16px
    font-weight: 500
    color: #79747c
    margin-bottom: 12px

  &__title
    font-size: 36px
    line-height: 36px
    font-weight: 800
    color: #ffffff
    margin-bottom: 20px

  &__call
    color: #ffffff
    font-size: 19px
    line-height: 19px
    font-weight: 600
    margin: 44px 0 20px

  &__form
    max-width: 275px
    margin: 0 auto
    text-align: left
    margin-bottom: 26px

  &__button
    margin-top: 26px

  &__sub
    font-size: 14px
    line-height: 22px
    font-weight: 500
    color: #79747c

    a
      color: #8b24c5

      &:hover
        text-decoration: underline