#portfolio.portfolio
  .c
    .portfolio__title Портфолио автора
    .portfolio__items
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/1.jpg')
        .portfolio__name @juliarhipova17
        a.portfolio__link(href='#') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/2.jpg')
        .portfolio__name @juliarhipova17
        a.portfolio__link(href='#') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/3.jpg')
        .portfolio__name @juliarhipova17
        a.portfolio__link(href='#') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/1.jpg')
        .portfolio__name @juliarhipova17
        a.portfolio__link(href='#') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/2.jpg')
        .portfolio__name @juliarhipova17
        a.portfolio__link(href='#') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/3.jpg')
        .portfolio__name @juliarhipova17
        a.portfolio__link(href='#') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/1.jpg')
        .portfolio__name @juliarhipova17
        a.portfolio__link(href='#') Посмотреть страницу модели
    .portfolio__button: a.btn(href='#programs') Научиться также