#portfolio.portfolio
  .c
    .portfolio__title Портфолио автора
    .portfolio__items
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/1.jpg')
        .portfolio__name @juli_arhipova
        a.portfolio__link(href='https://www.instagram.com/juli_arhipova/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/2.jpg')
        .portfolio__name @lyubash_l
        a.portfolio__link(href='https://www.instagram.com/lyubash_l/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/3.jpg')
        .portfolio__name @juliasevost181
        a.portfolio__link(href='https://www.instagram.com/juliasevost181/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/4.jpg')
        .portfolio__name @liliaveber
        a.portfolio__link(href='https://www.instagram.com/liliaveber/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/5.jpg')
        .portfolio__name @kriswinelove
        a.portfolio__link(href='https://www.instagram.com/kriswinelove/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/6.jpg')
        .portfolio__name @paramonova__olga
        a.portfolio__link(href='https://www.instagram.com/paramonova__olga/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/7.jpg')
        .portfolio__name @skoro_bogata_l
        a.portfolio__link(href='https://www.instagram.com/skoro_bogata_l/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/8.jpg')
        .portfolio__name @krisnikiforova17
        a.portfolio__link(href='https://www.instagram.com/krisnikiforova17/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/9.jpg')
        .portfolio__name @juliasevost181
        a.portfolio__link(href='https://www.instagram.com/juliasevost181/' target='_blank') Посмотреть страницу модели
      .portfolio__item
        .portfolio__image: img(src='modules/portfolio/10.jpg')
        .portfolio__name @_sashain_
        a.portfolio__link(href='https://www.instagram.com/_sashain_/' target='_blank') Посмотреть страницу модели
    .portfolio__button: a.btn(href='#programs') Научиться также