@font-face {
  font-family: 'SF UI Display';
  src: url('fonts/sf_ui_display-regular.eot');
  src: url('fonts/sf_ui_display-regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/sf_ui_display-regular.woff2') format('woff2'),
          url('fonts/sf_ui_display-regular.woff') format('woff'),
          url('fonts/sf_ui_display-regular.ttf') format('truetype'),
          url('fonts/sf_ui_display-regular.svg#sf_ui_displayregular') format('svg');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'SF UI Display';
  src: url('fonts/sf-ui-display-bold.eot');
  src: url('fonts/sf-ui-display-bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/sf-ui-display-bold.woff2') format('woff2'),
          url('fonts/sf-ui-display-bold.woff') format('woff'),
          url('fonts/sf-ui-display-bold.ttf') format('truetype'),
          url('fonts/sf-ui-display-bold.svg#sf_ui_displaybold') format('svg');
  font-weight: 600;
  font-style: normal;

}
@font-face {
  font-family: 'SF UI Display';
  src: url('fonts/sf-ui-display-heavy.eot');
  src: url('fonts/sf-ui-display-heavy.eot?#iefix') format('embedded-opentype'),
          url('fonts/sf-ui-display-heavy.woff2') format('woff2'),
          url('fonts/sf-ui-display-heavy.woff') format('woff'),
          url('fonts/sf-ui-display-heavy.ttf') format('truetype'),
          url('fonts/sf-ui-display-heavy.svg#sf_ui_displayheavy') format('svg');
  font-weight: 800;
  font-style: normal;

}
@font-face {
  font-family: 'SF UI Display';
  src: url('fonts/sf-ui-display-medium.eot');
  src: url('fonts/sf-ui-display-medium.eot?#iefix') format('embedded-opentype'),
          url('fonts/sf-ui-display-medium.woff2') format('woff2'),
          url('fonts/sf-ui-display-medium.woff') format('woff'),
          url('fonts/sf-ui-display-medium.ttf') format('truetype'),
          url('fonts/sf-ui-display-medium.svg#sf_ui_displaymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}