#videos.videos.convex
  .c
    .title.videos__title Видео-отзывы студентов
    .videos__items
      .videos__item
        .videos__player
          iframe(src="https://www.youtube.com/embed/jSVZX_Wey6I?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        a.videos__link(href='https://www.instagram.com/alyoshsa_okayanny/' target='_blank') Посмотреть аккаунт студента
      .videos__item
        .videos__player
          iframe(src="https://www.youtube.com/embed/inF9YIGMJOM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        //a.videos__link(href='#') Посмотреть аккаунт студента
      .videos__item
        .videos__player
          iframe(src="https://www.youtube.com/embed/z_tM55peqt8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        a.videos__link(href='https://www.instagram.com/juli_arhipova/' target='_blank') Посмотреть аккаунт студента
    .videos__button: a.btn(href='#programs') Стать студентом