#videos.videos.convex
  .c
    .title.videos__title Видео-отзывы студентов
    .videos__items
      .videos__item
        img.videos__image(src='modules/videos/1.jpg')
        a.videos__link(href='#') Посмотреть аккаунт студента
      .videos__item
        img.videos__image(src='modules/videos/2.jpg')
        a.videos__link(href='#') Посмотреть аккаунт студента
      .videos__item
        img.videos__image(src='modules/videos/3.jpg')
        a.videos__link(href='#') Посмотреть аккаунт студента
    .videos__button: a.btn(href='#programs') Стать студентом