#bullets.bullets.convex
  .title.bullets__title Через 5 недель #[span.highlight вы научитесь]
  .w: .bullets__items
    .bullets__item.bullets__item--1
      .bullets__header Разбираться#[br] в косметике и кистях
      .bullets__text И перестанете тратить лишние деньги в магазинах на ненужную косметику
    .bullets__item.bullets__item--2
      .bullets__header Правильно ухаживать#[br] за кожей
      .bullets__text Вы научитесь скрывать недостатки и убирать усталость с лица
    .bullets__item.bullets__item--3
      .bullets__header Рисовать#[br] идеальные брови
      .bullets__text Вы научитесь рисовать брови соответствующие вашей форме лица
    .bullets__item.bullets__item--4
      .bullets__header Делать утренний#[br] макияж за 15 минут
      .bullets__text Техники полученные на обучении позволят делать вам макияж за 15 минут
    .bullets__item.bullets__item--5
      .bullets__header Делать макияж#[br] для любой формы глаз
      .bullets__text И для нависшего века, уменьшить нос, нарисовать скулы, а также уберете щеки и второй подбородок
    .bullets__item.bullets__item--6
      .bullets__header Красить себя#[br] на любую встречу
      .bullets__text И вечеринку, освоите модную технику “Смоки айс” и научитесь рисовать ровные стрелки а также клеить пучки
    .bullets__item.bullets__item--7
      .bullets__header Найдете подходящую#[br] для вас красную помаду
      .bullets__text Сделаете объем губ больше и научитесь разбираться в цветах
    .bullets__item.bullets__item--8
      .bullets__header Делать красивые#[br] фото на телефон
      .bullets__text Которые вы сможете выкладывать в Instagram и другие соц. сети
  .bullets__button: a.btn(href='#programs') Хочу научиться