.questions
  padding: 78px 0 97px
  background: linear-gradient(180deg, #2B2420 0%, #2E1830 99.16%)
  @media (max-width $breakpoint-sm - 1)
    padding: 40px 0 50px

  &:after
    content:''
    background: #2E1830

  &__wrapper

  &__title
    color: #ffffff
    margin-bottom: 12px

  &__subtitle
    margin-bottom: 32px