include ../form/form

#faq.faq
  .c
    .title.faq__title Часто задаваемые вопросы
    .faq__item
      .faq__question #[span.faq__counter 1] В интернете все это можно найти бесплатно. Не вижу смысла за это платить.
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 2] Я думаю, что обучение в живой группе даст мне больше результата, чем через интернет.
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 3] Я не умею оплачивать через интернет. Как оплатить?
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 4] У меня слабый интернет. Не уверена, что смогу посещать занятия.
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 5] Можно проходить обучение с телефона или планшета?
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 6] Как, когда и в какое время я буду учиться?
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 7] Что делать, если я пропущу занятие?
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 8] Кому я могу задать вопрос, если мне что-то не понятно?
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 9] Какую косметику исполтьзуют ученики при выполнении домашних заданий?
      .faq__answer: .faq__text Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, это не обучающие видеоуроки. И не всегда то, что они показывают-это правильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации? Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.

    //.faq__form
    //  +form()