include ../form/form

#faq.faq
  .c
    .title.faq__title Часто задаваемые вопросы
    .faq__item
      .faq__question #[span.faq__counter 1] В интернете все это можно найти бесплатно. Не вижу смысла за это платить.
      .faq__answer: .faq__text
        |Да, в интернете много бесплатных уроков, но кто их записывает? Обычно это люди, кто показывают, как они красятся, то не обучающие видеоуроки. И не всегда то, что они показывают-это парвильно. Множество авторов противоречат друг другу, как новичку найти правду среди потока бестолковой информации?#[br]
        |Самое главное-там нет никакой поддержки, вам никто не скажет, где вы ошиблись. А мы по фотографиям, по мазкам кисти, способны определить под каким углом вы держали кисть и правильно ли это было сделанно. Так же преподаватель может дать вам личные рекомендации индивидуально под черты вашего лица.
    .faq__item
      .faq__question #[span.faq__counter 2] Я думаю, что обучение в живой группе даст мне больше результата, чем через интернет.
      .faq__answer: .faq__text
        |За годы преподавания мы увидели, что результат ничем не отличается. Преимущество дестанционного обучения в том, что вам не нужно никуда ехать и весь материал вы можете пересмотреть сколько угодно раз. А также любое живое обучение с таким уровнем преподавателя-визажиста и объемом предоставляемой информации стоит в разы дороже чем онлайн.
    .faq__item
      .faq__question #[span.faq__counter 3] Я не умею оплачивать через интернет. Как оплатить?
      .faq__answer: .faq__text
        |Оплатить можно абсолютно любым способом: банковскими картами, в салонах связи(Евросеть, Связной и тд), через СберБанк или любой другой банк. Наши менеджеры с радостью помогут вам с оплатой.
        |Обращаем ваше внимание, что все операции проходят через сервис "Тиньков Банк", который является №1 онлайн банком в мире, что гарантирует безопастность вашего перевода, также важно отметить, что вы совершаете перевод на Индивидуального Предпринимателя, это значит, что вы защищены законодательством РФ. После оплаты вы получаете электронный чек. При необходимости вы можете воспользоваться услугой рассрочки от Тиньков Банка, без первоначального взноса и без переплат.вляется №1 среди все платежных систем в России, что гарантирует безопастность вашего перевода, также важно отметить, что вы совершаете перевод на Индивидуального Предпринимателя, это значит, что вы защищены законодательством РФ. После оплаты вы получаете электронный чек.
    .faq__item
      .faq__question #[span.faq__counter 4] У меня слабый интернет. Не уверена, что смогу посещать занятия.
      .faq__answer: .faq__text
        |Мы учли этот момент и создали такую среду обучения, коиторая работает при очень медленном интернете. Так или иначе, любые технические моменты оперативно решает наша служба технической поддержки.
    .faq__item
      .faq__question #[span.faq__counter 5] Можно проходить обучение с телефона или планшета?
      .faq__answer: .faq__text
        |Да. Вы можете проходить обучение на любом удобном для вас устройстве в любое время.
    .faq__item
      .faq__question #[span.faq__counter 6] Как, когда и в какое время я буду учиться?
      .faq__answer: .faq__text
        |Вы будите учиться в удобное для вас время. Вы изучаете видеоурок, задаете все возникшие вопросы преподавателю, выполняете домашнее задание, после проверки переходите к изучению следующего уровка.
    .faq__item
      .faq__question #[span.faq__counter 7] Что делать, если я пропущу занятие?
      .faq__answer: .faq__text
        |Ничего страшного, вы можете выбрать удобный темп усвоения материала, все видео уроки будут доступны во время прохождения курса, все живые вебинары также можно будет посмотреть в записи.
    .faq__item
      .faq__question #[span.faq__counter 8] Кому я могу задать вопрос, если мне что-то не понятно?
      .faq__answer: .faq__text
        |На протяжении всего курса, все возникшие вопросы в ходе обученияможно задать лично Ксении Сысоевой
    .faq__item
      .faq__question #[span.faq__counter 9] Какую косметику исполтьзуют ученики при выполнении домашних заданий?
      .faq__answer: .faq__text
        |Что есть в вашей косметичке. Задача курса, чтобы вы умели пользоваться своей косметикой, если ничего нет, то сформировать правильную. Вы получите рекомедации по подбору косметике, можно подобрать на любой вкус и кошелек.

    //.faq__form
    //  +form()