#results.results.convex
  .c
    .title.results__title Получение результата#[br]от онлайн-обучения макияжу
    .subtitle.results__subtitle
      |Некоторые наши студенты перед тем как принять решение об обучении сомневались, что смогут усвоить материал#[br]
      |с помощью видео и думали, что офлайн обучение будет более эффективно. Мы решили развеять этот миф.#[br]
      |И вот почему онлайн #[span.highlight обучение позволит на 100% получить навык] делать великолепный макияж:
    .results__items
      .results__item
        .results__icon.results__icon--1
        .results__text Обучение#[br]до результата
      .results__item
        .results__icon.results__icon--2
        .results__text Неограниченное#[br]время практики
      .results__item
        .results__icon.results__icon--3
        .results__text Доступ к материалам#[br]обучения в любое время
      .results__item
        .results__icon.results__icon--4
        .results__text Обратная связь
      .results__item
        .results__icon.results__icon--5
        .results__text Рабочая тетрадь
      .results__item
        .results__icon.results__icon--6
        .results__text Сообщество студентов

      .results__subtitle #[span.highlight В итоге онлайн обучение макияжу позволяет получить лучший результат чем обучение в студии офлайн]