#advantages.advantages.convex
  .advantages__bg
  .title.advantages__title Преимущества#[br]онлайн-обучения макияжу
  .advantages__items
    .advantages__item
      .advantages__icon.advantages__icon--1
      .advantages__text
        .advantages__header Занятие в любое время
        .advantages__subheader Вы можете заниматься при любом графике и в любое время.
    .advantages__item
      .advantages__icon.advantages__icon--2
      .advantages__text
        .advantages__header Экономия времени
        .advantages__subheader Нет привязки ко времени, не нужно тратить время на поездки до места обучения.
    .advantages__item
      .advantages__icon.advantages__icon--3
      .advantages__text
        .advantages__header Невозможно пропустить
        .advantages__subheader Записи занятий у вас останутся навсегда.
    .advantages__item
      .advantages__icon.advantages__icon--4
      .advantages__text
        .advantages__header Проверка сделанных заданий
        .advantages__subheader Преподаватели проверяют ваши работы и дают комментарии по которым#[br]вы делаете корректировки на основании чего у вас не будет ошибок в макияже.
    .advantages__item
      .advantages__icon.advantages__icon--5
      .advantages__text
        .advantages__header Дешевле чем курсы офлайн
        .advantages__subheader
          |При онлайн системе обучения мы не имеем затрат на аренду#[br]
          |помещения, закупку косметики, кистей и других материалов для обучения.#[br]
          |Поэтому вы получаете обучение в разы дешевле чем в офлайн школах макияжа.
    .advantages__item
      .advantages__icon.advantages__icon--6
      .advantages__text
        .advantages__header Высокий уровень качества обучения
        .advantages__subheader
          |Мы тщательно и детально прорабатываем каждый видео-урок,#[br]
          |печатные материалы и домашние задания. У преподавтеля не будет возможности что то забыть,#[br]
          |а у вас не будет шансов что-то забыть т.к. все записи и материалы всегда будут у вас.
    .advantages__item
      .advantages__icon.advantages__icon--2
      .advantages__text
        .advantages__header Экономия времени
        .advantages__subheader Нет привязки ко времени, не нужно тратить время на поездки до места обучения.

