#bonuses.bonuses.convex
  .c
    .title.bonuses__title Бонусы при оплате
    .subtitle.bonuses__subtitle Первые быстро оплатившие получат #[span.highlight в подарок:]
    .bonuses__items
      .bonuses__item
        .bonuses__image: img(src='modules/bonuses/1.jpg')
        .bonuses__text Мастер-класс “Вечерняя укладка”
      .bonuses__item
        .bonuses__image: img(src='modules/bonuses/2.jpg')
        .bonuses__text Мастер-класс “Основные этапы по уходу за лицом. Японская технология в 9 этапов.”
      .bonuses__item
        .bonuses__image: img(src='modules/bonuses/3.jpg')
        .bonuses__text Мастер-класс “9 фатальных ошибок#[br]при создании макияжа.”
      .bonuses__item
        .bonuses__image: img(src='modules/bonuses/4.jpg')
        .bonuses__text Как ухаживать за кожей лица в разное время года. Особенности демисезонного ухода.
      .bonuses__item
        .bonuses__image: img(src='modules/bonuses/5.jpg')
        .bonuses__text Список сайтов, с которых можно сделать#[br]заказы косметики.
      .bonuses__item
        .bonuses__image: img(src='modules/bonuses/6.jpg')
        .bonuses__text Чек-лист “Как создать свою идеальную косметичку: пошаговый план для тебя!”
