#program.program.convex: .c
  .title.program__title Что будет в курсе
  .subtitle.program__subtitle
    | Программа курса охватывает все базовые техники макияжа на каждый день.#[br]
    | На протяжении всего курса вы будете общаться #[span.highlight в общем чате Whats’App], где сможете получить ответы на все вопросы.

  .program__bullets
    .program_bullet
      .program__bullet-icon.program__bullet-icon--1
      | 5 видео-уроков
    .program_bullet
      .program__bullet-icon.program__bullet-icon--2
      | 5 домашних заданий
    .program_bullet
      .program__bullet-icon.program__bullet-icon--3
      | Рабочая тетрадь
    .program_bullet
      .program__bullet-icon.program__bullet-icon--4
      | Тест на анализ кожи
    .program_bullet
      .program__bullet-icon.program__bullet-icon--5
      | Определение цветотипа

  .program__items
    .program__item
      img.program__image(src='modules/program/1.jpg')
      .program__day Занятие 1
      .program__header Идеальная косметичка. Анализ типов кожи.
      .program__parts
        .program__part Косметичка. Разбор текстур, составов, средств. Определение что и для каких типов кожи
        .program__part Обзор средств профессиональной косметики, отличие ее от бытовой.
        .program__part Отличие люкс косметике от масс маркета.
        .program__part Кисти. Правила нанесения ими. Уход. Очищение
        .program__part Очищение и уход за косметикой
        .program__part Теория цвета. Основные свойства цвета.
        .program__part Анатомия лица. Пропорции лица и его коррекция.
    .program__item
      img.program__image(src='modules/program/2.jpg')
      .program__day Занятие 2
      .program__header Дневной макияж.#[br]Макияж в стиле НЮД.
      .program__parts
        .program__part Техника демакияжа, подготовка кожи к макияжу.
        .program__part Определение типа лица-модели, его форм и кожи
        .program__part Работа с кожей. Подбор и нанесение основы, тона, закрепляющей пудры
        .program__part Коррекция лица с помощью скульптурирующей пудры и хайлайтера
        .program__part Оформление бровей
        .program__part Дневной макияж глаз
        .program__part Оформление губ (карандашная техника, нанесение помады/блеска)
    .program__item
      img.program__image(src='modules/program/3.jpg')
      .program__day Занятие 3
      .program__header Вечерний макияж.
      .program__parts
        .program__part Презентация видов вечернего макияжа
        .program__part Техника демакияжа, подготовка кожи к макияжу
        .program__part Работа с кожей. Подбор и нанесение основы, тона, закрепляющей пудры
        .program__part Макияж глаз (карандашная техника smoky eyes с наложением пигментов)
        .program__part Оформление бровей
        .program__part Коррекция лица с помощью скульптурирующей пудры и хайлайтера
        .program__part Оформление губ (карандашная техника, нанесение помады/блеска)
    .program__item
      img.program__image(src='modules/program/4.jpg')
      .program__day Занятие 4
      .program__header Голливудский образ.
      .program__parts
        .program__part Презентация видов голливудского макияжа
        .program__part Подготовка кожи к макияжу
        .program__part Работа с кожей. Подбор и нанесение основы, тона, закрепляющей пудры
        .program__part Коррекция лица с помощью скульптурирующей пудры и хайлайтера
        .program__part Макияж глаз: Все виды стрелок на глазах
        .program__part Оформление бровей
        .program__part Оформление губ (карандашная техника, нанесение помады/блеска)
    .program__item
      img.program__image(src='modules/program/5.jpg')
      .program__day Занятие 5
      .program__header Лифтинг—макияж#[br](для женщин#[br]55—80 лет).
      .program__parts
        .program__part Презентация видов лифтинг макияжа
        .program__part Техника демакияжа, подготовка кожи к макияжу
        .program__part Работа с кожей. Подбор и нанесение основы, тона, закрепляющей пудры
        .program__part Коррекция лица с помощью скульптурирующей пудры и хайлайтера
        .program__part Макияж глаз (задача подчеркнуть глаза и сделать их выразительными)
        .program__part Оформление бровей
        .program__part Оформление губ (карандашная техника, нанесение помады/блеска)

  .program__button: button.btn Пройти 5 занятий онлайн-курса