header.header#header
  .w.w-c
    .header__logo
    .header__mobile-menu
      button.header__menu-close
      .header__menu
        ul
          li: a(href='#bullets') Что получите
          li: a(href='#program') Программа
          li: a(href='#learn') Как проходит
          li: a(href='#programs') Цены
          li: a(href='#') Отзывы
          li: a(href='#portfolio') Портфолио
          li: a.header__menu-item--button(href='#') Заказать звонок
    button.header__menu-btn