footer.footer
  .w.footer__container
    .footer__left
      .footer__logo
      .footer__sublogo Онлайн-школа макияжа
    .footer__center
      .footer__req
        |ИП Антонов Петр Анатольевич#[br]
        |ИНН 632407328370 ОГРН 318631300037982#[br]
        |Банк АО «Тинькофф Банк» Р.С.40802810300000455963
    .footer__right
      a.btn(href='#callback') Заказать звонок
      br
      a.footer__polytic(href='#') Политика конфиденциальности