#author.author: .c
  .author__subtitle Автор курса — ПРОФЕССИОНЫЛЬНЫЙ ВИЗАЖИСТ
  .author__title Ксения Сысоева
  .author__items
    .author__photo
      img(src='modules/author/author.png')
      .author__medias
        a(href='#').author__media.author__media--vk
        a(href='#').author__media.author__media--inst
        a(href='#').author__media.author__media--fb
    .author__bullets
      .author__bullet Обучалась в школе визажистов MAC Cosmetics в Москве
      .author__bullet Обучала #[span.highlight более 200 человек]
      .author__bullet Из них 32 — профессионалы
      .author__bullet Накрасила более 1 300 человек
      .author__bullet Обучает работе #[span.highlight на всех видах косметики]
      .author__bullet Опыт работе визажистом #[span.highlight более 5-ти лет]
    .author__works
      .author__work
        .author__work-image.author__work-image--1
        .author__work-title Работала визажистом#[br]в MAC Cosmetics Russia
      .author__work
        .author__work-image.author__work-image--2
        .author__work-title Работала визажистом#[br]в INGLOT Russia
  button.btn.author__button Задать вопросы автору курса